/* # Front-end Style Guide

## Colors

### Primary

Dark cyan: hsl(185, 75%, 39%)
Very dark desaturated blue: hsl(229, 23%, 23%)
Dark grayish blue: hsl(227, 10%, 46%)

### Neutral

Dark gray: hsl(0, 0%, 59%)

## Typography

### Body Copy

- Font size (name and stats): 18px

### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 18px;
	font-weight: 400, 700;
	color: black;
}

#container {
	background-color: hsl(184, 74%, 38%);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.card {
	width: 350px;
	text-align: center;
	border-radius: 15px;
	overflow: hidden;
	position: relative;
}

.top {
	background-color: white;
	background-size: cover;
}

.middle {
	background-color: white;
}

.middle img {
	border-radius: 50%;
	border: 5px solid white;
	margin: -61px;
	margin-bottom: 15px;
}

.name {
	font-size: 18px;
	font-weight: 400;
	padding-bottom: 15px;
}

.age {
	font-size: 18px;
	opacity: .5;
}

.country {
	font-size: 18px;
	font-weight: 400;
	opacity: .5;
	padding-bottom: 32px;
}

.footer {
	background-color: white;
	border-top: 1px solid lightgrey;
	display: flex;
	padding: 25px;
}

.content {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.followers p {
	font-size: 18px;
	font-weight: 400;
	opacity: .5;
	line-height: 2;
}
.likes p {
	font-size: 18px;
	font-weight: 400;
	opacity: .5;
	line-height: 2;
}
.photos p {
	font-size: 18px;
	font-weight: 400;
	opacity: .5;
	line-height: 2;
}

.design img {
	position: absolute;
	/* width: 800px; */
}

.design .upper {
	top: -500px;
	left: 30px;
}

.design .lower {
	bottom: -500px;
	right: 20px;
}
